.App {
  height: 100vh;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img {
  width: 200px;
  height: 200px;
}
button {
  padding: 20px;
  height: 30px;
  font-size: 14px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #ffffff;
  color: #ffffff;
  background-color: inherit;
}
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: white;
}
.profile-info {
  margin: 20px 50px;
}
.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
